<div class="recent-orders">
  <h2>Drivers</h2>
  <div style="width: 15%;">
    <a href="<%= new_driver_path %>" class="button" style="color: white;">Create Drivers</a>
  </div>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>License Number</th>
    </tr>
    </thead>
    <tbody>
    <% @drivers.each do |driver| %>
    <tr>
      <td><%= link_to driver.name, driver_path(driver.id) %></td>
      <td><%= driver.license_number %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>