<h1>Editing fms g16 route</h1>

<%= render "form", fms_g16_route: @fms_g16_route %>

<br>

<div>
  <%= link_to "Show this Route", @fms_g16_route %> |
  <%= link_to "Back to Routes", fms_g16_routes_path %>
</div>
