<h1>Editing fms g16 shipment</h1>

<%= render "form", fms_g16_shipment: @fms_g16_shipment %>

<br>

<div>
  <%= link_to "Show this Shipment", @fms_g16_shipment %> |
  <%= link_to "Back to Shipment", fms_g16_shipments_path %>
</div>
